.sombra{
    
    border-radius:50%;
  -webkit-border-radius:50%;
}
.sombra:hover{
    box-shadow: 1px 2px 10px 0 whitesmoke;
    margin: 8px 20px 20px 8px;
    border-radius: 15px;
    transform:scale(1.25);
  
} 
.encuadrada{
 float: left;
  padding: 30px;
}
.indicevideo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:white ;
    font-size: 15px;
    padding: 15px;
}

.videosyoutube{
        width:279px; 
        height:200px; 
        padding-top:10px;
        padding-bottom: 10px;
    
}
.videosyoutube:hover{

    transform:scale(1.25);
}
.centrado{
    text-align: center;
}
.galeria{
    margin: 15px;
    width: 300px;
    height: 300px; 
}