
body{
    background-color:#9e0000;
    font-family: 'Playfair Display', serif;
    
}

nav{
    text-align: center;
    padding-bottom: 10px; 
    padding-top: 4px;
}
.banner{
    background-color: #9e0000;
    text-align: center;
}

.contenedor{
    color:white;
    padding-top: 20px;
    text-align: justify;
    padding-bottom: 30px;
    background-color:#292929;
}
.contenedor2{
    color:white;
    padding-top: 20px;
    text-align: justify;
    padding-bottom: 30px;
    background-color:#111111;
}
.contenido{
    background-color: #292929;
    color: white;
    margin-top: 0px;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 30px;
}
.contenido2{
    background-color: #111111;
    color: white;
    margin-top: 0px;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 30px;
}
.parte3{
    width: 33%;
}
.segun{
    width: 50%;
}

.tituloC{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 50px;
}
.subtitulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:#993e3b ;
    font-size: 20px;
    padding: 15px;
}
.cabecerat{
    float: left;
    width: 70%;
    text-align:center;
}
.submenu{
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color:   #ead3a8;
    font-size: 13px;
    padding-bottom: 11px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.selec{
    background-color: #292929;
    color: white;
}

.submenu:hover{
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.textCentrado{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:white;
    font-size: 24px;
}
.separado{
    padding: 30px;
}
.final{
    background-color: #9e0000;
    text-align: center;
}
li{
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 5px;
}
ul{
    padding: 0px;
}
td,tr{
    text-align: center;
}
p{
    text-align: justify;
    padding-right: 10px;
}
.seccionCuentos{
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto;
    height: 600px;
} 